# Ignore node_modules to avoid copying dependencies
node_modules
client/node_modules
server/node_modules

# Ignore environment files (security reasons)
# .env
# server/.env
# client/.env

# Ignore logs
*.log
logs
server/logs
client/logs

# Ignore build files
client/build
server/dist

# Ignore local dependencies and package lock files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
